<div class="ui top menu">
  <div class="ui item" id="brand">
    <a href="/">KiteChart</a>
  </div>

  <%= link_to 'Bar/Column/Pie', root_path, class: 'item' %>
  <%= link_to 'Timeline', timeline_path, class: 'item' %>
  <%= link_to 'Line', line_path, class: 'item' %>
  <%= link_to 'Donut', donut_path, class: 'item' %>
  <%= link_to 'Area', area_path, class: 'item' %>
</div>

